<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new article</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: white;
      }
      .header {
        margin-top: 1rem;
        display: flex;
        color: green;
        opacity: 0.9;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <main>
      <h1 class="header">Edit Article</h1>
    </main>
    <form action="/article/edit/<%=article.id%>?_method=PUT" method="POST">
      <%- include("_form_")%>
    </form>
  </body>
</html>
